<% content_for(:style) do %>
  <%= stylesheet_link_tag 'mf54_reset' %>
	<%= stylesheet_link_tag 'mf54_grid' %>
  <%= stylesheet_link_tag 'mf54_content' %>
	<%= stylesheet_link_tag 'pwned' %>
<% end %>

<% content_for(:toolbox) do %>
  <li><%= link_to 'Show', @network %></li>
  <li><%= link_to 'Edit', edit_network_path(@network) %></li>
	<li><%= link_to 'Destroy', @network, :confirm => 'Are you sure?', :method => :delete %></li>
<% end %>

<% content_for(:navbar) do %>
  <%= render :partial => 'shared/menu_user' %>
  <%= render :partial => 'shared/menu_toolbox' %>
  <%= render :partial => 'shared/menu_networks' %>
  <%= render :partial => 'shared/menu_help' %>
<% end %>


<!-- PAGE TITLE -->
<h1 class="pagetitle">Listing comments for <%= @network.name %></h1>

<div id="notice">
	<p style="color: green"><%= flash[:notice] %></p>
</div>

<!-- C.1 CONTENT -->
<div class="content">
  <!-- LIST CELL -->
	<div class="corner-content-1col-top"></div>
	<div class="content-1col-nobox">
    <h1 class="blog"><%= will_paginate @comment_pages %></h1>

    <% for comment in @comment_pages %>
        <%= render :partial => comment %>
    <% end %>

    <p>
    <%= link_to 'New comment', new_network_comment_path(@network) %> | 
    <%= link_to 'Back to Network', network_path(@network) %> | 
    <%= page_entries_info @comment_pages %>
    </p>

  </div>
  <div class="corner-content-1col-bottom"></div>
</div>

<!-- C.2 SUBCONTENT -->
<div class="subcontent">
	<%= render(:partial => 'shared/search', :locals => { :search_path => networks_path }) %>	
	<%= render(:partial => 'shared/news') %>	
</div>