<% content_for(:style) do %>
  <%= stylesheet_link_tag 'mf54_reset' %>
	<%= stylesheet_link_tag 'mf54_grid' %>
  <%= stylesheet_link_tag 'mf54_content' %>
	<%= stylesheet_link_tag 'pwned' %>
	<%= stylesheet_link_tag 'niceforms-default' %>
<% end %>

<% content_for(:toolbox) do %>
  <li><%= link_to 'Show', @network %></li>
  <li><%= link_to 'Edit', edit_network_path(@network) %></li>
	<li><%= link_to 'Destroy', @network, :confirm => 'Are you sure?', :method => :delete %></li>
<% end %>

<% content_for(:navbar) do %>
  <%= render :partial => 'shared/menu_user' %>
  <%= render :partial => 'shared/menu_toolbox' %>
  <%= render :partial => 'shared/menu_networks' %>
  <%= render :partial => 'shared/menu_help' %>
<% end %>


<!-- PAGE TITLE -->
<h1 class="pagetitle">New comment for <%= @network.name %></h1>

<div id="notice">
	<p style="color: green"><%= flash[:notice] %></p>
</div>

<!-- C.1 CONTENT -->
<div class="content">
  <!-- LIST CELL -->
	<div class="corner-content-1col-top"></div>
	<div class="content-1col-nobox">
    <h1>New comment</h1>
    <div class="niceform">  
      <% form_for([@network, @comment], :html => { :class => 'niceform' }) do |f| %>
        <%= f.error_messages %>
        <fieldset>
            <legend>Comment</legend>
            <dl>
              <dt><%= f.label :body %></dt>
              <dd><%= f.text_area :body %></dd>
            </dl>
        </fieldset>
        <fieldset class="action">
          <%= f.submit 'Update' %> | <%= link_to 'Back', network_comments_path(@network) %>
        </fieldset>
      <% end %>
    </div>
  </div>
  <div class="corner-content-1col-bottom"></div>
</div>

<!-- C.2 SUBCONTENT -->
<div class="subcontent">
	<%= render(:partial => 'shared/login') %>
	<%= render(:partial => 'shared/search') %>	
	<%= render(:partial => 'shared/news') %>	
</div>