<!--[if !IE]> -->
  <object classid="java:SimpleNetworkVisualizer.class"
      codebase="/applet"
      type="application/x-java-applet"
      archive="SimpleNetworkVisualizer.jar,physics.jar,animation.jar,core.jar"
      width="800" height="600"
      standby="Loading Processing software..." >
    
    <param name="codebase" value="/applet" />
    <param name="archive" value="SimpleNetworkVisualizer.jar,physics.jar,animation.jar,core.jar" />
  
    <param name="mayscript" value="true" />
    <param name="scriptable" value="true" />
  
    <param name="image" value="loading.gif" />
    <param name="boxmessage" value="Loading Processing software..." />
    <param name="boxbgcolor" value="#FFFFFF" />
  
    <param name="edges" value="<%= get_file_path_for_applet(@network.edgefile.public_filename) %>" />
    <% if @network.annotationfile %>
    <param name="nodes" value="<%= get_file_path_for_applet(@network.annotationfile.public_filename) %>" />
    <% end %>
    <param name="config" value="<%= get_file_path_for_applet(@network.configfile.public_filename) %>" />
    <param name="test_string" value="outer" />
<!--<![endif]-->
  
  <object classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93" 
      codebase="http://java.sun.com/update/1.5.0/jinstall-1_5_0_15-windows-i586.cab"
      width="800" height="600"
      standby="Loading Processing software..."  >
    <!-- Safari browser needs the following param -->
    <param name="codebase" value="/applet" />  
    <param name="code" value="SimpleNetworkVisualizer" />
    <param name="archive" value="SimpleNetworkVisualizer.jar,physics.jar,animation.jar,core.jar" />
    
    <param name="mayscript" value="true" />
    <param name="scriptable" value="true" />
    
    <param name="image" value="loading.gif" />
    <param name="boxmessage" value="Loading Processing software..." />
    <param name="boxbgcolor" value="#FFFFFF" />
    
    <param name="edges" value="<%= get_file_path_for_applet(@network.edgefile.public_filename) %>" />
    <% if @network.annotationfile %>
    <param name="nodes" value="<%= get_file_path_for_applet(@network.annotationfile.public_filename) %>" />
    <% end %>
    <param name="config" value="<%= get_file_path_for_applet(@network.configfile.public_filename) %>" />
    <param name="test_string" value="inner" />
    <p>
      <strong>
        This browser does not have a Java Plug-in.
        <br />
        <a href="http://java.sun.com/products/plugin/downloads/index.html" title="Download Java Plug-in">Get the latest Java Plug-in here.</a>
      </strong>
    </p>
  
  </object>
  
<!--[if !IE]> -->
  </object>
<!--<![endif]-->
