<% content_for(:style) do %>
  <%= stylesheet_link_tag 'niceforms-default' %>
<% end %>

<div class="corner-content-1col-top"></div>
<div class="content-1col-nobox">
  
  <%= hidden_div_if(@network.errors.empty?, :id => 'errorExplanation') %>
    <%= general_error_msgs(:network, :edgefile, :configfile, :annotationfile) %>
  <%= hidden_div_close %>

  <div class="niceform">
  <% form_for(@network, :html => { :multipart => true , :class => 'niceform'  }) do |f| %>
    <fieldset>
      <legend>Network</legend>
	    <dl>
	      <dt><%= f.label :name, 'Network Name' %></dt>
	      <dd><%= f.text_field :name %></dd>
	    </dl>
	    <dl>
        <dt><%= f.label :description, 'Description' %></dt>
        <dd><%= f.text_area :description, :size => "60x10", :value => 'A description ...', :onfocus => "this.select()" %></dd>
      </dl>
        <dl>
          <dt><%= f.label :tag_list, 'Tags' %></dt>
          <dd><%= f.text_field :tag_list, :size => "60" %></dd>
        </dl>
        <dl>
        <dt><%= label_tag 'edges', 'Edges' %></dt>
        <dd><%= text_area_tag 'edges' , "NodeA NodeB\nNodeA NodeC\nNodeB NodeC\n", :size => "50x10" %></dd>
      </dl>
      <% fields_for :config do |config| %>
      <dl>
        <dt><%= config.label :template, 'Template' -%></dt>
        <dd><%= config.select :template, @service.template_keys, {:include_blank => false }%></dd>
      </dl>
      <% end %>
    </fieldset>
    
    <fieldset class="action">
      <%= f.submit button_name %>
    </fieldset>
  <% end %>
  </div>
</div>
<div class="corner-content-1col-bottom"></div>