<% content_for(:style) do %>
  <%= stylesheet_link_tag 'niceforms-default' %>
<% end %>

<%= hidden_div_if(@network.errors.empty?, :id => 'errors') %>
  <h6><%= general_error_msgs(:network, :edgefile, :configfile, :annotationfile) %></h6>
<%= hidden_div_close %>

<div>
  <% form_for(@network, :html => { :multipart => true , :class => 'niceform'  }) do |f| %>
  
    <fieldset>
      <legend>Network</legend>
  	  <%= error_messages_for :network %>
	    <dl>
	      <dt><%= f.label :name, 'Network Name' %></dt>
	      <dd><%= f.text_field :name %></dd>
	    </dl>
	    <dl>
        <dt><%= f.label :description, 'Description' %></dt>
        <dd><%= f.text_area :description, :size => "60x10" %></dd>
      </dl>

    </fieldset>
    
    <fieldset><legend>Edges</legend>
	    <%= error_messages_for :edgefile %>
      <% fields_for :edgefile do |edgefile| %>
      <dl>
        <dt><%= edgefile.label :uploaded_data , 'Edgefile'%></dt>
        <dd><%= edgefile.file_field :uploaded_data %></dd>
      </dl>
      <% end %>
      <dl>
        <dt><%= label_tag 'edges', 'Edges' %></dt>
        <dd><%= text_area_tag 'edges' , nil, :size => "50x10" %></dd>
      </dl>
    </fieldset>
    
    <fieldset><legend>Config</legend>
	    <%= error_messages_for :configfile %>
      <% fields_for :configfile do |configfile| %>
      <dl>
        <dt><%= configfile.label :uploaded_data , 'Configfile'%></dt>
        <dd><%= configfile.file_field :uploaded_data %></dd>
      </dl>
      <% end %>
      <% fields_for :config do |config| %>
      <dl>
        <dt><%= config.label :template, 'Template' -%></dt>
        <dd><%= config.select :template, @service.template_keys, {:include_blank => true }%></dd>
      </dl>
      <% end %>
      <% if @thisconfig %>
        <%= config_form_builder(@thisconfig) %>
      <% else %>
        <%= config_form_builder(@service.config_templates[@service.template_keys[0]]) %>
      <% end %>
    </fieldset>
    
    <fieldset><legend>annotation</legend>
  		<%= error_messages_for :annotationfile %>
      <% fields_for :annotationfile do |annotationfile| %>
      <dl>
        <dt><%= annotationfile.label :uploaded_data , 'Annotationfile'%></dt>
        <dd><%= annotationfile.file_field :uploaded_data %></dd>
      </dl>
      <% end %>
      <dl>
        <dt><%= label_tag 'annotations', 'Annotation' %></dt>
        <dd><%= text_area_tag 'annotations' , nil, :size => "50x10"  %></dd>
      </dl>
    </fieldset>
    
    <fieldset class="action">
      <%= f.submit "Create" %>
    </fieldset>
  <% end %>
  </div>