
<h2><%= link_to network.name, network %></h2>
<p class="details">
  Posted by DummyUser <%= network.created_at.to_date -%> | 
  <%=  link_to_function "Description", "Effect.toggle('#{network.name}box', 'blind',{ duration: 0.5 })" %> | 
	<%= link_to 'Comments', network_comments_path(network) %> | 
	<%= link_to 'Edit', edit_network_path(network) %> | 
	<%= link_to 'Destroy', network, :confirm => 'Are you sure?', :method => :delete %> | 
	<b>tags:</b> 
	<% network.tag_list.each do |tag| %>
	  <%= link_to tag, { :controller => :networks, :action => :tag, :name => tag }%>
	<% end %>
	 | <b>comments:</b> <%= link_to(network.comments.size, network_comments_path(network)) %>
</p>

<div id="<%= network.name + 'box' %>" style="display:none;">
  <p><%= simple_format auto_link(h network.description) %></p>
</div>
