<div class="corner-content-1col-top"></div>
<div class="content-1col-nobox">

	<div class="networktitle" id="name">		
		<h1 class="network"><%= network.name %></h1>
	</div>
		
	<div id="description">
	  <blockquote>
  	  <p><%= simple_format(auto_link(h(network.description))) %></p>
	  </blockquote>
	</div>
	
	<div id="tags">
	  <blockquote>
	  <p>
	    <%=  link_to_function "Details", "Effect.toggle('details', 'blind',{ duration: 0.5 })" %> | 
	    <b>comments:</b> <%= link_to(network.comments.size, network_comments_path(network)) %> | 
	    <b>Tags: </b>
	    <% tag_cloud network.tag_counts, %w{tag1 tag2 tag3 tag4} do |tag, css_class| %> 
	    <%= link_to tag.name, { :controller => :networks, :action => :tag, :name => tag.name }, :class => css_class %>
	    <% end %>
    </p>
    </blockquote>
	</div>
  
  <div id="comments">
  </div>
	
	 
	<div id="details" style="display:none;">
  	<div class="content-2col-nobox-leftcolumn">
  		<h2>Statistics</h2>
  		<table>
  			<tr><th class="top" scope="col">Params</th><th class="top" scope="col">Value</th></tr>
  			<tr><th scope="row">Edgefile size</th><td><%= number_to_human_size(network.edgefile.size) %></td></tr>
  			<tr><th scope="row">Configfile size</th><td><%= number_to_human_size(network.configfile.size) %></td></tr>
  			<% if network.annotationfile %>
  			<tr><th scope="row">Annotationfile size</th><td><%= number_to_human_size(network.annotationfile.size) %></td></tr>
  			<% end %>
      </table>
  		<p class="caption"><b>Network statistics</b> Caption</p>
  	</div>

  	<div class="content-2col-nobox-rightcolumn"> 
  		<h2>TODO Files icon</h2>
  		<h5>File links</h5>
  		<ol>
  			<li>Edges: <%= link_to network.edgefile.filename, network.edgefile.public_filename %></li>
  			<li>Config: <%= link_to network.configfile.filename, network.configfile.public_filename %></li>
  			<% if network.annotationfile %>
  			<li>Nodes: <%= link_to network.annotationfile.filename, network.annotationfile.public_filename %></li>
  			<% end %>
  			<li>TODO package.zip with applet</li>
  		</ol>
  	</div>

    <div class="content-1col-nobox">
    	<h2>TODO Posted by</h2>
    	<h3><a href="#"><img src="/images/image.jpg" alt="Image description" title="Image title" /></a>Heading 3</h3>
    	<h6>Heading h6</h6>
    	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh 
    		 euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
    	<p class="details">Posted by DummyUser <%= network.created_at.to_date -%> </p>
    </div>
	</div>

	<%= render :partial => 'applet' %>

</div>
<div class="corner-content-1col-bottom"></div>