<div class="corner-content-1col-top"></div>
<div class="content-1col-nobox">

<h1><%= link_to network.name, network %></h1>
<h5>Description</h5>
<p><%=h network.description %></p>

<blockquote>
  <h3>Files</h3>
  <p>
  Edges: <%= link_to network.edgefile.filename, network.edgefile.public_filename %>
  <br/>
  <% if network.annotationfile %>
  Nodes: <%= link_to network.annotationfile.filename, network.annotationfile.public_filename %>
  <br/>
  <% end %>
  Config: <%= link_to network.configfile.filename, network.configfile.public_filename %>
  </p>
</blockquote>

<p class="details">Created by DummyUser <%= network.created_at.to_date -%> </p>

</div>
<div class="corner-content-1col-bottom"></div>