<div id="content">
  <h1>Editing network <%= @network.name%></h1>

   <% form_for(@network) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.hidden_field :name %>
      
      <%= f.label :description %><br />
      <%= f.text_area :description, :class => "input" %>

      <%= f.hidden_field :edgefile %>
      <% if @network.annotationfile %>
        <%= f.hidden_field :annotationfile %>
      <% end %>
      <%= f.hidden_field :config %>
    </p>
    <p>
    <%= f.submit "Update", :class => "submit" %>
    </p>
  <% end %>
</div>


<div id="right">
  <dl id="subnav">
    <dt>ToolBox</dt>
    <dd><%= link_to 'Show', @network %></dd>
    <dd><%= link_to 'Back', networks_path %></dd>
  </dl>
</div>
