<% content_for(:style) do %>
  <%= stylesheet_link_tag 'mf54_reset' %>
	<%= stylesheet_link_tag 'mf54_grid' %>
  <%= stylesheet_link_tag 'mf54_content' %>
<% end %>

<!-- C.1 CONTENT -->
<div class="content">
	
	<!-- NETWORKS LIST CELL -->
	<div class="corner-content-1col-top"></div>
	<div class="content-1col-nobox">
		<h1>Networks Index</h1>
		<div class="content-2col-nobox-leftcolumn">
		<ul>
			<% for network in @networks %>
			<li><%= link_to network.name, network %></li>
			<% end %>
		</ul>
		<%= page_entries_info @networks %>
		<%= will_paginate @networks %>
		</div>
	</div>
	
	<div class="corner-content-1col-bottom"></div>
</div>

<!-- 
<%= link_to 'New network', new_network_path %>

-->
<%= render(:partial => 'subcontent') %>


