<% content_for(:style) do %>
  <%= stylesheet_link_tag 'mf54_reset' %>
	<%= stylesheet_link_tag 'mf54_grid' %>
  <%= stylesheet_link_tag 'mf54_content' %>
	<%= stylesheet_link_tag 'pwned' %>
<% end %>

<% content_for(:search_header) do %>
  <%= render :partial => 'shared/search_header', :locals => { :search_path => networks_path } %>
<% end %>

<% content_for(:navbar) do %>
  <ul><li><%= link_to 'New Network', new_network_path %></li></ul>
<% end %>


<div id="notice">
	<p style="color: green"><%= flash[:notice] %></p>
</div>

<!-- C.1 CONTENT -->
<div class="content">
	
	<!-- NETWORKS LIST CELL -->
	<div class="corner-content-1col-top"></div>
	<div class="content-1col-nobox">		
	  <h1 class="network">Networks</h1>


		
		<% for network in @pages %>
		  <%= render :partial => 'inline_network', :locals => { :network => network } %>
		<% end %>

		<h6><%= will_paginate @pages %></h6>
		<h6><%= page_entries_info @pages %></h6>
	</div>
	<div class="corner-content-1col-bottom"></div>
		
</div>

<!-- C.2 SUBCONTENT -->
<div class="subcontent">
	<%= render(:partial => 'shared/search', :locals => { :search_path => networks_path }) %>	
	<%= render(:partial => 'shared/news') %>	
</div>