<% content_for(:style) do %>
  <%= stylesheet_link_tag 'mf54_reset' %>
	<%= stylesheet_link_tag 'mf54_grid' %>
  <%= stylesheet_link_tag 'mf54_content' %>
	<%= stylesheet_link_tag 'pwned' %>
<% end %>

<% content_for(:navbar) do %>
  <%= render :partial => 'menu_user' %>
  <%= render :partial => 'menu_networks' %>
  <%= render :partial => 'menu_help' %> 
<% end %>

<!-- PAGE TITLE -->
<h1 class="pagetitle"><%= page_entries_info @networks %></h1>

<div id="notice">
	<p style="color: green"><%= flash[:notice] %></p>
</div>

<!-- C.1 CONTENT -->
<div class="content">
	
	<!-- NETWORKS LIST CELL -->
	<div class="corner-content-1col-top"></div>
	<div class="content-1col-nobox">
		<% if @networks.total_pages <= 1 then %>
			<h1>Networks</h1>
		<% else %>
			<h1><%= will_paginate @networks %></h1>
		<% end %>
		<% for network in @networks %>
		<h2><%= network.name %></h2>
		<p class="details">
			<%= link_to_remote 'Show', 
				:url => { :action => 'get_network' , :id => network.id 	}, 
				:update => { :success => "networkbox", :failure => "notice" },
				:before => "Element.hide('networkbox')",
				:complete => visual_effect(:appear, "networkbox", :duration => 1.0)
			%> | 
			<%= link_to 'Go', network %> | 
			<%= link_to 'Edit', edit_network_path(network) %> |
			<%= link_to 'Destroy', network, :confirm => 'Are you sure?', :method => :delete %>
		</p>
		<% end %>
	</div>
	<div class="corner-content-1col-bottom"></div>
	
	<div id="networkbox">
	 <% if @networks.size == 1 %>
	  <%= render :partial => @networks[0] %>
	 <% end %>
	</div>
</div>

<!-- C.2 SUBCONTENT -->
<div class="subcontent">
	<%= render(:partial => 'login') %>
	<%= render(:partial => 'search') %>	
	<%= render(:partial => 'news') %>	
</div>