<h1>New network</h1>

<% form_for(@network) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :edgefile %><br />
    <%= f.text_field :edgefile %>
  </p>
  <p>
    <%= f.label :annotationfile %><br />
    <%= f.text_field :annotationfile %>
  </p>
  <p>
    <%= f.label :config %><br />
    <%= f.text_field :config %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', networks_path %>
