<div id="content">
  <h1>New network</h1>

<% form_for(@network, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "input" %>
  </p>
  <p>
    <%= f.label :description %><br />
      <%= f.text_area :description, :class => "input" %>
  </p>
  <p>
    <%= f.label :edgefile %>
    <%= f.file_field :edgeupload %>
  </p>
  <p>
    <%= f.label :config %>
    <%= f.file_field :configupload %>
  </p>
  <p>
    <%= f.label :annotationfile %>
    <%= f.file_field :annotationupload %>
  </p>
  <p>
    <%= f.submit "Create", :class => "submit" %>
  </p>
<% end %>
</div>

<div id="right">
  <dl id="subnav">
    <dt>ToolBox</dt>
    <dd><%= link_to 'Back', networks_path %></dd>
  </dl>
</div>
