<% content_for(:style) do %>
  <%= stylesheet_link_tag 'mf54_reset' %>
	<%= stylesheet_link_tag 'mf54_grid_nosidebar' %>
  <%= stylesheet_link_tag 'mf54_content_nosidebar' %>
<% end %>

<!-- C.1 CONTENT no sidebar -->
<div class="content">
	<div class="corner-content-1col-top"></div>
	<div class="content-1col-nobox">
  	<h1>New network</h1>
	  <%= error_messages_for :network %>
	  <%= error_messages_for :edgefile %>
	  <%= error_messages_for :configfile %>
	  <%= error_messages_for :annotationfile %>

	  <%= render :partial => "form" %>

		<%= link_to 'Back', networks_path %>
	</div>
</div>