<% content_for(:style) do %>
  <%= stylesheet_link_tag 'mf54_reset' %>
	<%= stylesheet_link_tag 'mf54_grid_nosidebar' %>
  <%= stylesheet_link_tag 'mf54_content_nosidebar' %>
	<%= stylesheet_link_tag 'pwned_nosidebar' %>
<% end %>

<% content_for(:navbar) do %>
  <%= render :partial => 'menu_user' %>
  <%= render :partial => 'menu_networks' %>
  <%= render :partial => 'menu_help' %> 
<% end %>

<!-- PAGE TITLE -->
<h1 class="pagetitle"><%= form_title %></h1>

<div id="notice">
	<p style="color: green"><%= flash[:notice] %></p>
</div>

<!-- C.1 CONTENT no sidebar -->
<div class="niceform">
		<%= render :partial => "form" , :locals => { :button_name => "Create" } %>
</div>