<div id="content">
  <%= render(:partial => @network) %>
</div>

<div id="right">
  <dl id="subnav">
    <dt>ToolBox</dt>
    <dd><%= link_to 'Edit', edit_network_path(@network) %></dd>
    <dd><%= link_to 'Destroy', @network, :confirm => 'Are you sure?', :method => :delete %></dd>
    <dd><%= link_to 'Back', networks_path %></dd>
  </dl>
</div>

<div class="clear" id="applet">
  <%= render(:partial => 'applet') %>
</div>

