<p>
  <b>Name:</b>
  <%=h @network.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @network.description %>
</p>

<p>
  <b>Edgefile:</b>
  <%=h @network.edgefile %>
  <%= link_to 'Show File', @edgepath %>
</p>

<% if @annotationpath %>
<p>
  <b>Annotationfile:</b>
  <%=h @network.annotationfile %>
  <%= link_to 'Show File', @annotationpath %>
</p>
<% end %>

<p>
  <b>Config:</b>
  <%=h @network.config %>
  <%= link_to 'Show File', @configpath %>
</p>

<%= render(:partial => 'applet') %>

<%= link_to 'Edit', edit_network_path(@network) %> |
<%= link_to 'Back', networks_path %>
