<% content_for(:style) do %>
  <%= stylesheet_link_tag 'mf54_reset' %>
	<%= stylesheet_link_tag 'mf54_grid_nosidebar' %>
  <%= stylesheet_link_tag 'mf54_content_nosidebar' %>
	<%= stylesheet_link_tag 'pwned_nosidebar' %>
<% end %>

<% content_for(:applet) do %>
	<%= render :partial => 'applet' %>
<% end %>

<!-- PAGE TITLE -->
<h1 class="pagetitle"><%= page_title %></h1>

<div id="notice">
	<p style="color: green"><%= flash[:notice] %></p>
</div>

<!-- C.1 CONTENT no sidebar -->
<div class="content">

	<!-- NETWORK CONTENT CELL -->
  <%= render :partial => @network %>

	<%= link_to 'New network', new_network_path %>
	<%= link_to 'Back', networks_path %>
	<%= link_to 'Destroy', @network, :confirm => 'Are you sure?', :method => :delete %>
	<%= link_to 'Edit', edit_network_path(@network) %>
</div>