<% content_for(:style) do %>
  <%= stylesheet_link_tag 'mf54_reset' %>
	<%= stylesheet_link_tag 'mf54_grid_nosidebar' %>
  <%= stylesheet_link_tag 'mf54_content_nosidebar' %>
	<%= stylesheet_link_tag 'pwned_nosidebar' %>
<% end %>


<%= render :partial => 'applet' , :locals => { :height => 768, :width => 1024, :codebase => '/applet/1024x768', :applet_class => "appletbig" }%>
<p align="center"><big><%= link_to 'Back', :back %></big></p>
