<% content_for(:style) do %>
  <%= stylesheet_link_tag 'mf54_reset' %>
	<%= stylesheet_link_tag 'mf54_grid_nosidebar' %>
  <%= stylesheet_link_tag 'mf54_content_nosidebar' %>
	<%= stylesheet_link_tag 'pwned_nosidebar' %>
	<%= stylesheet_link_tag 'admin' %>
<% end %>

<% content_for(:menu_networks) do %>
  <li><%= link_to 'all', admin_networks_path %></li>
	<li><%= link_to 'new', new_admin_network_path %></li>
	<li><%= link_to 'search', search_admin_networks_path %></a></li>
<% end %>

<% content_for(:toolbox) do %>
  <li><%= link_to 'Show',admin_network_path(:id => @network.id) %></li>
  <li><%= link_to 'Comments', network_comments_path(@network) %></li>
	<li><%= link_to 'Destroy', admin_network_path(:id => @network.id), :confirm => 'Are you sure?', :method => :delete %></li>
<% end %>

<% content_for(:navbar) do %>
  <%= render :partial => 'shared/menu_user' %>
  <%= render :partial => 'shared/menu_toolbox' %>
  <%= render :partial => 'shared/menu_networks' %>
  <%= render :partial => 'shared/menu_help' %> 
<% end %>

<!-- PAGE TITLE -->
<h1 class="pagetitle"><%= form_title %></h1>

<div id="notice">
	<p style="color: green"><%= flash[:notice] %></p>
</div>

<!-- C.1 CONTENT no sidebar -->
<div class="niceform">
  	<%= render :partial => "form" , :locals => { :button_name => "Update" }%>
</div>
