<% content_for(:style) do %>
  <%= stylesheet_link_tag 'mf54_reset' %>
	<%= stylesheet_link_tag 'mf54_grid' %>
  <%= stylesheet_link_tag 'mf54_content' %>
	<%= stylesheet_link_tag 'pwned' %>
	<%= stylesheet_link_tag 'admin' %>
<% end %>

<% content_for(:menu_networks) do %>
  <li><%= link_to 'all', admin_networks_path %></li>
	<li><%= link_to 'new', new_admin_network_path %></li>
	<li><%= link_to 'search', search_admin_networks_path %></a></li>
<% end %>

<% content_for(:navbar) do %>
  <%= render :partial => 'shared/menu_user' %>
  <%= render :partial => 'shared/menu_networks' %>
  <%= render :partial => 'shared/menu_help' %> 
<% end %>

<% content_for(:search_header) do %>
  <%= render :partial => 'shared/search_header', :locals => { :search_path => admin_networks_path } %>
<% end %>

<!-- PAGE TITLE -->
<h1 class="pagetitle"><%= page_title %></h1>

<div id="notice">
	<p style="color: green"><%= flash[:notice] %></p>
</div>

<!-- C.1 CONTENT -->
<div class="content">
	
	<!-- NETWORKS LIST CELL -->
	<div class="corner-content-1col-top"></div>
	<div class="content-1col-nobox">
		
		<% if @pages.total_pages <= 1 then %>
			<h1>Networks</h1>
		<% else %>
			<h1><%= will_paginate @pages %></h1>
		<% end %>
		
		<% for network in @pages %>
		  <%= render :partial => 'inline_network', :locals => { :network => network } %>
		<% end %>
		
		<h6><%= page_entries_info @pages %></h6>
	</div>
	<div class="corner-content-1col-bottom"></div>
		
</div>

<!-- C.2 SUBCONTENT -->
<div class="subcontent">
	<%= render(:partial => 'shared/login') %>
	<%= render(:partial => 'shared/search', :locals => { :search_path => admin_networks_path }) %>	
	<%= render(:partial => 'shared/news') %>	
</div>