<div class="corner-page-top"></div>
<div class="header">
	<div class="header-top">
	  <!-- A.1 SITENAME -->
	  <%= link_to("", root_url, {:title => 'Home', :class => 'sitelogo'}) %>
	  <div class="sitename">
	    <h1><%= link_to("PWNED&bull;1.0", root_url, { :title => 'Home'}) %></h1> 
			<h2>Processing.org Wise Node and Edges Drawer</h2>
   	</div>
		<!-- A.2 BUTTON NAVIGATION -->
		<div class="navbutton">
			<ul>
				<li><a href="#" title="English"><img src="/images/icon_flag_en.png" alt="Flag" /></a></li>
				<li><%= rss_button %></li>
			</ul>
		</div>
		<!-- A.3 GLOBAL NAVIGATION -->
		<div class="navglobal">
		 	<ul id="nav">
		     <li><%= link_to("Home", root_url, { :class => 'home'}) %></li>
		     <li><%= link_to("News","http://github.com/tucano/pwned/commits/master") %></li>
		     <li><%= link_to("Contact","http://tucano.recipient.cc") %></li>
 		     <li><a href="/404.html">Sitemap</a></li>
		</ul>
	 </div>
	</div>
	
	<!-- A.4 BREADCRUMB and SEARCHFORM -->
	<div class="header-bottom">
		<!-- Breadcrumb -->
		<%= simple_breadcrumb %>
		
		<!-- Search form -->                  
		<%= render :partial => 'shared/searchform'%>
	</div>
</div>		
<div class="corner-page-bottom"></div>
