<div id="content">
  <h1>New network</h1>
<% form_for(@network, :html => { :multipart => true }, :url => {:action => "create"}) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "input" %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :class => "input" %>
  </p>
  <p>
    <%= f.label :config %>
    <%= f.select :autoconfig, %w[classic mrblue web] %>
  </p>
  <p>
    <%= f.label :edges %><br />
    <%= f.text_area :edges, :class => "input" %>
  </p>
  <p>
    <%= f.label :nodes %><br />
    <%= f.text_area :nodes, :class => "input" %>
  </p>
  <p>
  <%= f.submit "Create", :class => "submit" %>
  </p>
<% end %>
</div>
<div id="right">
  <dl id="subnav">
    <dt>ToolBox</dt>
    <dd><%= link_to 'Back', networks_path %></dd>
  </dl>
</div>
