<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title><%= page_title %></title>
  <%= content_type %>
  <%= info %>
	<%= yield :style %>
  <%= javascript_include_tag :defaults %>
  <%= icon %>
</head>

<!-- Global IE fix to avoid layout crash when single word size wider than column width -->
<!-- Following line MUST remain as a comment to have the proper effect -->
<!--[if IE]><style type="text/css"> body {word-wrap: break-word;}</style><![endif]-->

<body>	

  <!-- CONTAINER FOR ENTIRE PAGE -->
  <div class="container">
		
		<!-- A. HEADER -->
  	<%= render(:partial => 'header') %>

		<!-- B. NAVIGATION BAR -->
		<%= render(:partial => 'navbar') %>
		
    <!-- C. MAIN SECTION -->      
    <div class="main">
			
			<!-- PAGE TITLE -->
			<h1 class="pagetitle"><%= page_title %></h1>

			<div id="notice">
				<p style="color: green"><%= flash[:notice] %></p>
			</div>
			<!-- YIELD-->
	    <%= yield  %>
	
    </div>
    
    <!-- D. FOOTER -->
		<%= render(:partial => 'footer') %>
  </div>
</div>
</body>
</html>
